.float-start {
    float: inline-start
}
.float-end {
    float: inline-end
}
.float-right {
    float: right
}
.float-left {
    float: left
}
.float-none {
    float: none
}
.clear-start {
    clear: inline-start
}
.clear-end {
    clear: inline-end
}
.clear-left {
    clear: left
}
.clear-right {
    clear: right
}
.clear-both {
    clear: both
}
.clear-none {
    clear: none
}
