@keyframes spin {
    to {
        transform: rotate(360deg)
    }
}
.y {
    animation: spin 1s linear infinite
}
@keyframes pulse {
    50% {
        opacity: .5
    }
}
.y2 {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite
}